<!DOCTYPE html>

<html>
  <head>
    <title>Venetian Hotel Resort Las Vegas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body style="margin-left: 10px">
    <h1>About this area</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Las Vegas</h2>
          <p class="subtitle">
            Located in Las Vegas Strip neighborhood, The Venetian Resort Las
            Vegas is connected to a shopping center. Fashion Show Mall and Las
            Vegas Premium Outlets North are worth checking out if shopping is on
            the agenda, while those wishing to experience the area's natural
            beauty can explore Red Rock Canyon National Conservation Area.
            Looking to enjoy an event or a game? See what's going on at T-Mobile
            Arena or Thomas and Mack Center. Spend some time exploring the
            area's activities, including outlet shopping. Guests appreciate the
            resort's central location.
          </p>
        </div>
        <div class="col">
          <img src="../public/public/map.jpg" alt="map" class="mapimg" />
          <div class="row">
            <div class="col">
              <h6>
                <img
                  src="../public/public/map_drop.png"
                  alt="drop"
                  class="locationIcons"
                />What's Nearby
              </h6>
              <ul>
                <li>The Venetian Casino - 1 min walk</li>
                <li>Mirage Volcano - 2 min walk</li>
                <li>The Linq - 8 min walk</li>
                <li>Bellagio Casino - 17 min walk</li>
                <li>The Cosmopolitan Casino - 19 min walk</li>
              </ul>
            </div>
            <div class="col">
              <h6>
                <img
                  src="../public/location_files/restaurant.png"
                  alt="restaurant"
                  class="img"
                />Restaurants
              </h6>
              <ul>
                <li>Grand Lux Cafe - 2 min walk</li>
                <li>Smith & Wollensky - 1 min walk</li>
                <li>Buddy V's Ristorante - 2 min walk</li>
                <li>The Dorsey - 2 min walk</li>
                <li>Starbucks - 3 min walk</li>
              </ul>
            </div>
            <div class="col">
              <h6>
                <img
                  src="../public/location_files/car_icon.png"
                  alt="car"
                  class="img"
                />Getting Around
              </h6>
              <ul>
                <li>
                  <img
                    src="../public/location_files/bus_icon.png"
                    alt="bus"
                    class="img"
                  />Las Vegas International Airport Station - 8 min drive
                </li>
                <li>
                  <img
                    src="../public/location_files/bus_icon.png"
                    alt="bus"
                    class="img"
                  />Harrah's & The LINQ Station - 8 min walk
                </li>
                <li>
                  <img
                    src="../public/location_files/airplane_icon.png"
                    alt="airplane"
                    class="img"
                  />Harry Reid Intl. Airport (LAS) - 11 min drive
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="server.js"></script>
  </body>
</html>
